<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">DURGA EXAMS</a>
        </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class=" "><a href="/java">Java Exams <span class="sr-only">(current)</span></a></li>
            <li><a href="/python">Python Exams</a></li>
            <li><a href="/aptitude">Aptitude Exams</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/signup">Signup</a></li>
            <li><a href="/accounts/login">Login</a></li>
            <li><a href="/accounts/logout">Logout</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
    {% block body_block %}
    {% endblock %}
  </body>
</html>
