<!DOCTYPE html>
{% extends 'testapp/base.html'%}
  {% block body_block %}
  <div class="jumbotron" >
    <div class="container">
    <h1>Welcome To Durga Exams</h1><hr>
    <h2>Study Below Rules For SafeSide Before Writing The Exam:</h2>
    <h2>Rules For Writing Exam:</h2>
    <ul>
      <li>Rule-1:You Should Write Only One Exam Per Day</li>
      <li>Rule-2:You Should Write Only One Exam Per Day</li>
      <li>Rule-3:You Should Write Only One Exam Per Day</li>
      <li>Rule-4:You Should Write Only One Exam Per Day</li>
      <li>Rule-5:You Should Write Only One Exam Per Day</li>
      <li>Rule-6:You Should Write Only One Exam Per Day</li>
    </ul>
  </div>
</div>


  {% endblock %}
